@import url(./global.css);

.container {
    display: grid;
    justify-items: center;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.containers{
    justify-items: center;
    width: 100%;
    height: 100%;
}

.infoCredito{
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
}

.Solicitud {
    color: var(--VerdeOscuro);
    font-weight: 700;
}

.tipoCredito{
    color: var(--VerdeClaro);
    font-weight: 700;
}