@import url(./global.css);

.containertitle {
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.tilteprimare{
    width: 100%;
    align-content: center;
    color: var(--VerdeOscuro);
    font-weight: 700;
}

.title-success{
    width: 100%;
    color: var(--VerdeClaro);
}