@import url(../styles/global.css);

svg#creditcard {
    margin: 0 4px 8px;
    width: 28px;
    height: 26px;
    overflow: hidden;
    filter: invert(27%) sepia(84%) saturate(1428%) hue-rotate(148deg) brightness(96%) contrast(101%);

}

.section-title {
    color: var(--VerdeOscuro);
    font-weight: 700;
    font-family: var(--font-family);
}