div.contenedormovi{
    width: 100%;
    display: flex;
    justify-content: center;
}

.movimientos-intern {
    margin: 0;
    padding: 0;
    border: 1px solid var(--VerdeOscuro60);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}