:root {
    --VerdeOscuro: rgb(0 126 114);
    --VerdeOscuro80: rgba(0, 126, 113, 0.80);
    --VerdeOscuro60: rgba(0, 126, 113, 0.60);
    --VerdeOscuro30: rgba(0, 126, 113, 0.30);
    --TextColorInput: rgba(163, 164, 163,0.25);
    --VerdeClaro: rgb(164 210 51);
    --VerdeClaro80: rgba(165, 210, 51, 0.80);
    --VerdeClaro60: rgba(165, 210, 51, 0.60);
    --VerdeClaro30: rgba(165, 210, 51, 0.30);
    --font-family: 'Open Sans';
    --Text-opaco: rgba(163 164 163);
  }

  body {
    margin: 0;
    padding: 24px;
    font-family: 'Open Sans';
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
