footer{
    align-content: center;
}
button.btnform {
    
    margin: 8px;
    color: var(--VerdeOscuro);
    border: 2px solid var(--VerdeOscuro);
}

button.btnform:hover{
    color: white;
    border: 2px solid var(--VerdeOscuro);
    background-color: var(--VerdeOscuro) ;
}