footer{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    align-content: center;
}

button.btnform{
    
    color: var(--VerdeOscuro);
    border: 1px solid var( --VerdeOscuro);
}

button.btnforme:hover{
    font-size: 1.25rem;
    background-color: var( --VerdeOscuro) ;
    color: whitesmoke;

}

button.btnform:hover{
    color: white;
    border: 4px solid var(--VerdeOscuro);
    background-color: var(--VerdeOscuro) ;
}